<footer>
    <div class="container">
        <hr/>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-4">
                <ul class="nav nav-pills">
                    <li>
                        <a href="https://github.com/lherich/recapo.de/fork">Fork it on Github</a>
                    </li>
                    <li>
                        <a href="{{ urlFor('/privacy') }}">Datenschutzerklärung</a>
                    </li>
                    <li>
                        <a href="{{ urlFor('/impressum') }}">Impressum</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
