<!-- HTML generated using hilite.me -->
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
    <pre style="margin: 0; line-height: 125%">
<span style="color: #557799">&lt;?xml version=&#39;1.0&#39;?&gt;</span>
<span style="color: #007700">&lt;cardsort&gt;</span>

  <span style="color: #007700">&lt;exp_user_id</span> <span style="color: #0000CC">value=</span><span style="background-color: #fff0f0">&quot;resultID&quot;</span> <span style="color: #0000CC">duration=</span><span style="background-color: #fff0f0">&quot;resultDuration&quot;</span> <span style="color: #0000CC">startDatetime=</span><span style="background-color: #fff0f0">&quot;resultStartDatetime&quot;</span> <span style="color: #0000CC">endDatetime=</span><span style="background-color: #fff0f0">&quot;resultEndDatetime&quot;</span><span style="color: #007700">&gt;</span>

    <span style="color: #007700">&lt;wanted_item</span> <span style="color: #0000CC">value=</span><span style="background-color: #fff0f0">&quot;resultTaskItemName&quot;</span> <span style="color: #0000CC">status=</span><span style="background-color: #fff0f0">&quot;resultTaskFlag&quot;</span> <span style="color: #0000CC">itemID=</span><span style="background-color: #fff0f0">&quot;resultTaskItemID&quot;</span> <span style="color: #0000CC">resultTaskID=</span><span style="background-color: #fff0f0">&quot;resultTaskID&quot;</span> <span style="color: #0000CC">startDatetime=</span><span style="background-color: #fff0f0">&quot;resultTaskStartDatetime&quot;</span> <span style="color: #0000CC">endDatetime=</span><span style="background-color: #fff0f0">&quot;resultTaskEndDatetime&quot;</span> <span style="color: #0000CC">duration=</span><span style="background-color: #fff0f0">&quot;resultTaskDuration&quot;</span><span style="color: #007700">&gt;</span>

      <span style="color: #007700">&lt;item</span> <span style="color: #0000CC">value=</span><span style="background-color: #fff0f0">&quot;itemName&quot;</span> <span style="color: #0000CC">itemID=</span><span style="background-color: #fff0f0">&quot;itemID&quot;</span> <span style="color: #0000CC">resultTaskID=</span><span style="background-color: #fff0f0">&quot;itemResultTaskID&quot;</span> <span style="color: #0000CC">datetime=</span><span style="background-color: #fff0f0">&quot;itemDatetime&quot;</span> <span style="color: #0000CC">relativeDuration=</span><span style="background-color: #fff0f0">&quot;itemRelativeDuration&quot;</span> <span style="color: #0000CC">absoluteDuration=</span><span style="background-color: #fff0f0">&quot;itemAbsoluteDuration&quot;</span><span style="color: #007700">&gt;</span>
        <span style="color: #007700">&lt;ms&gt;</span>itemRelativeDuration<span style="color: #007700">&lt;/ms&gt;</span>
      <span style="color: #007700">&lt;/item&gt;</span>
    <span style="color: #007700">&lt;/wanted_item&gt;</span>

  <span style="color: #007700">&lt;/exp_user_id&gt;</span>

<span style="color: #007700">&lt;/cardsort&gt;</span>
</pre>
</div>
