[submodule "library/Slim"]
	path = library/Slim
	url = git@github.com:lherich/Slim.git
[submodule "library/Twig"]
	path = library/Twig
	url = git@github.com:lherich/Twig.git
[submodule "library/Valitron"]
	path = library/Valitron
	url = git@github.com:lherich/Valitron.git
[submodule "library/Upload"]
	path = library/Upload
	url = git@github.com:lherich/Upload.git
