{%if flag == 'public'%}
    <span class="glyphicon glyphicon-bullhorn"></span>
{%elseif flag == 'protected'%}
    <span class="glyphicon glyphicon-tag"></span>
{%else%}
    <span class="glyphicon glyphicon-remove"></span>
{%endif%}
