{% include 'hooter/header.twig' %}

{% include 'hooter/brand.twig' %}

{% include 'hooter/breadcrumb.twig' %}

{% include 'hooter/flash.twig' %}

<div class="container">
    <div class="row">
        {% if user is not null %}
            <div class="col-xs-12 col-md-3">
                {% include 'hooter/navigation.twig' %}
            </div>

            <div class="col-xs-12 col-md-9">
            {% else %}
                <div class="col-xs-12 col-md-12">
                {% endif %}
                <div class="well">
                    <h1>Impressum</h1>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Lucas Herich</h4>
                            Joachim-Friedrich-Str. 1<br/>
                            10711 Berlin<br/>
                            <br/>
                            <a href="tel:+493084315533">
                                <i class="glyphicon glyphicon-earphone"></i>
                                +49 30 84 31 55 33</a><br/>
                            <a href="mailto:info@recapo.de">
                                <i class="glyphicon glyphicon-envelope"></i>
                                info@recapo.de</a><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'hooter/footer.twig' %}
