<?xml version='1.0'?>
<recapo>
    <name></name>
    <url></url>
    <type></type>
    <startDatetime></startDatetime>
    <endDatetime></endDatetime>
    <createDatetime></createDatetime>
    <flag></flag>
    <probandForm></probandForm>
    <welcomeText></welcomeText>
    <instructionText></instructionText>
    <tributeText></tributeText>

    <tasks>
        <task>
            <ID></ID>
            <cardID></cardID>
            <task></task>
        </task>
    </tasks>

    <sections>
        <section>
            <ID></ID>
            <section></section>
            <description></description>
            <shortcut></shortcut>
        </section>
    </sections>

    <informationarchitecutre>
        <card>
            <ID></ID>
            <LFT></LFT>
            <RGT></RGT>
            <cardID></cardID>
            <sectionID></sectionID>
            <linkToIaID></linkToIaID>
            <linkToItemID></linkToItemID>
        </card>
    </informationarchitecutre>

    <results>
        <result>
            <ID></ID>
            <startDatetime></startDatetime>
            <endDatetime></endDatetime>
            <resulttasks>
                <resulttask>
                    <ID></ID>
                    <taskID></taskID>
                    <startDatetime></startDatetime>
                    <endDatetime></endDatetime>
                    <targetcardID></targetcardID>
                    <cards>
                        <resulttaskID></resulttaskID>
                        <cardID></cardID>
                        <iaID></iaID>
                        <value></value>
                        <status></status>
                        <datetime></datetime>
                        <relativeDuration></relativeDuration>
                        <absoluteDuration></absoluteDuration>
                    </cards>
                </task>
            </tasks>
        </result>
    </results>
</recapo>
